@media screen and (min-width:  600px){
	#chatBubble.opened{
		height: 80%;
		width: 80%;
		max-width: 400px;
	}
	#chatBubble.mb-5{
		margin-bottom: 0 !important;
	}
}

@media screen and (max-height:  800px){
	.chat-body ul{
			max-height: 490px;
    		overflow-y: scroll;
	}
	.chat-body{
			max-height: 490px;
			overflow: hidden;
	}
}
@media screen and (min-height:  801px){
	.chat-body ul{
		min-height: 600px;
			max-height: 615px;
    		overflow-y: scroll;
	}
	.chat-body{
			min-height: 600px;
			max-height: 615px;
    		overflow: hidden;
	}
}

.chat-toolbar #chatSend{
	width: 0;
	height: 0;
}

#closeChat, .chat-body, .chat-toolbar, #chatMenu, .chat-title, #startVideoCall{
	display: none;
}
#chatBubble{
	background: black;
    border: none;
    position: fixed;
    bottom: 20px;
    display: flex;
    right: 20px;
    justify-content: center;
    align-items: center;
    z-index: 155;
    height: 75px;
    width: 75px;
    border-radius: 50%;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	transition: 0.5s;
	max-width: 400px;
}
#floating-chat{
	transition: 0.5s;
	background: black;
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 0;
	height: 0;
}
#chatBubble.opened{
	background: white;
	border-radius: 20px;
	transition: 0.5s;
	z-index: 155;
}
.opened .fa-comments.chatOpener{
	display: none;
}
.chat-toolbar, .chat-toolbar button{
	width: 0;
}
#chatBubble.opened #closeChat, #chatBubble.opened #startVideoCall, #chatBubble.opened .chat-body, #chatBubble.opened .chat-toolbar, #chatBubble.opened #chatMenu{
	display: block;
	transition: 8s;
	position: relative;
	z-index: 10;
}
#chatMenu{
	position: absolute !important;
    background: transparent;
    left: 20px;
}

#chatBubble.opened #closeChat{
	float: right;
}
#chatBubble.opened .chat-title{
	display: block;
	color: black;
}

#chatBubble.opened .chat-toolbar{
	display: flex;
	position: absolute;
	bottom: 20px;
	width: 90%;
	transition: 8s;
}


.chat-header{
	width: 100%;
	position: absolute;
	top: 10px;
	right: 10px;
}
.chat-body{
	width: 100%;
	max-width: 360px;
	position: absolute !important;
	top: 50px;
}
.chatCloser{
	background: none !important;
}
.chat-body ul{
	list-style: none;
	padding: 0;
}
.chat-body li{
	padding: 10px 5px;
	display: flex;
	margin:  10px 0;
}
.chat-body li.send .chat-message{
	display: flex;
	align-items: flex-end;
}
.chat-body li.receive .chat-message{
	display: flex;
	align-items: flex-end;
}
.chat-body li.receive{
	justify-content: flex-start;
	padding-right: 7%;
}
.chat-body li.send{
	text-align: right;
	justify-content: flex-end;
	padding-left: 7%;
}
.chat-body .chat-text{
	font-weight: 400;
}
.chat-body .receive .chat-text{
	background:  #f2f2f6;
    padding: 10px 25px;
    border-radius: 20px;
    color: black;
    position: relative;
}
.chat-body .receive .chat-message:before{
	/*
	content: "";
    width: 0px;
    height: 0px;
    position: relative;
    border-left: 10px solid #f2f2f6;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid #f2f2f6;
    display: block;
    left: 54px;
    margin-bottom: 9px;
    transform: rotate(145deg);
    border-bottom-right-radius: 19px;
    border-top-right-radius: 2px;
    */
}
.chat-body .send .chat-message:after{
	/*
	content: "";
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid black;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    position: relative;
    display: block;
    right: 54px;
    margin-bottom: 9px;
    transform: rotate(295deg);
    border-bottom-right-radius: 19px;
    border-top-right-radius: 2px;
    */
}
.chat-body .send .chat-text{
	background: black;
    border-radius: 20px;
    position: relative;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 25px;
    padding-left: 16px;
}
.chat-body li.receive{
	text-align: left;
}
.chat-message img{
	border-radius: 50%;
	margin-bottom: -20px;
}
.chat-toolbar #message{
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
#chatBubble.opened .chat-toolbar #chatSend{
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	width: 46px;
	height: 46px;
	margin-left: -3px;
	transition: 2s;
}
.chat-body li.send .username{
	position: absolute;
    right: 9px;
    bottom: -15px;
    color: black;
    font-size: 10px;
    font-weight: bold;
    float: right;
}
.chat-body li.receive .username{
	position: absolute;
    left: 9px;
    bottom: -15px;
    color: black;
    font-size: 10px;
    font-weight: bold;
    float: left;
}
.chat-body li a{
	text-decoration: underline !important;
	color: white !important;
	overflow-wrap: anywhere;
}
.chat-title{
	color: transparent;
    position: absolute;
    left: 50%;
    width: 108px;
    margin-left: -54px;
    top: 7px;
    font-weight: bold;
}

.chat-message .avatar{
	width: 40px;
	height: 40px;
}
#videoframe{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 99;
	display: none;
	background: rgb(33, 32, 50);
}