@media (max-width: 1152px){
	h1{
		font-size: 2.5em;
	}
	.gallery-holder img{
		max-height: 200px;
		border-radius: 20px;
	}
	.desktop-gallery{
		display: none;
	}
}

@media (min-width: 1152px){
	h1{
		font-size: 4em;
	}
	.gallery-holder img{
		max-height: 300px;
		border-radius: 20px;
		position: absolute;
	}
	.mobile-gallery{
		display: none;
	}
}
@media (min-width: 600px){
	form.form-dark .form-group{
		padding-bottom: 40px;
	}
}
.slider.slider-horizontal{
	margin-left: 15px;
}
.calcrows .col-md-12 .sliderContent{
	padding: 20px 10px;
    background: white;
    border-radius: 20px;
}
.calcrows .col-md-6 .sliderContent{
	padding: 20px 10px;
    background: white;
    border-radius: 20px;
}
.btn-white{
	background: white;
}
.bg-dark{
	background-color: black !important;
}
#footer{
	border-top: 0;
}
form.form-dark .form-control{
	background: black;
	border: none;
	border-bottom: 1px solid white;
}
#emitter{
	position: absolute;
	z-index: 100;
	height: 500px;
	width: 300px;
	bottom: 200px;
	left: 50%;
	margin-left: -150px;
}
#emitter canvas{
	width: 300px;
	height: 500px;
	margin-bottom: 100px;
}
@-webkit-keyframes loading {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes loading {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}
.loading{
	-webkit-animation: loading 2s linear infinite;
	-moz-animation: loading 2s linear infinite;
}
button.nav-link{
	background: none;
	border: 2px solid white;
	color: white;
}
button.nav-link.active{
	background: #007bff !important;
	color: white !important;
	border: 2px solid #007bff !important;
}