/* Main Styles */
html, body {
    background-image: none !important;
    width: 100%;
    overflow-x: hidden;
}

html > *:not(i), body > *:not(i), h1, h2, h3, h4, h5, p, strong, div {
    font-family: Helvetica Now Text, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji !important;
    font-weight: 400 !important;
}

/* Orb Styles */
.orb {
    filter: blur(100px);
    position: absolute;
    border-radius: 50%;
    width: 700px;
    height: 700px;
}

.orb1 {
    background-color: #57f5f3;
    right: -100px;
    top: 100px;
    animation: breathe1 10s ease-in-out infinite;
    z-index: -1;
}

.orb2 {
    background-color: #55f5a3;
    right: -200px;
    top: -200px;
    animation: breathe2 10s ease-in-out infinite;
    z-index: -2;
}

.orb3 {
    width: 400px;
    height: 400px;
    background-color: #9e7de9;
    display: inline-flex;
    right: 475px;
    top: 320px;
    animation: breathe2 4s ease-in-out infinite;
    z-index: -2;
}

.orb4 {
    background-color: #5bb8b3;
    opacity: 0.4;
    left: 250px;
    top: -500px;
    animation: breathe2 4s ease-in-out infinite;
    z-index: -2;
}

.orb5 {
    background-color: #f94449;
    opacity: 0.4;
    left: 450px;
    top: -400px;
    animation: breathe2 4s ease-in-out infinite;
    z-index: -2;
}

.orb6 {
    background-color: #f5a355;
    left: -50px;
    top: 100px;
    animation: breathe2 4s ease-in-out infinite;
    opacity: 0.8;
    z-index: -2;
}

/* Animations */
@keyframes breathe1 {
    0%, 100% { transform: translate(-50%, -50%) scale(1); }
    50% { transform: translate(-50%, -50%) scale(1.2); }
}

@keyframes breathe2 {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.15); }
}

@keyframes rotateSlow {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes tiltLeftSlow {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(-3deg); }
    100% { transform: rotate(0deg); }
}

@keyframes tiltRightSlow {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(3deg); }
    100% { transform: rotate(0deg); }
}

/* Text Styles */
.text-xl { font-size: 88px; }
.text-lg { font-size: 58px; }
.text-md { font-size: 38px; }
.text-small { font-size: 12px !important; }
.text-bold { font-weight: bold !important; }

/* Spacing */
.pb-0 { padding-bottom: 0; }
.lg-spacing {
    margin-top: 200px;
    margin-bottom: 100px;
}
.sm-spacing {
    margin-top: 100px;
    margin-bottom: 50px;
}

/* List Styles */
ul.clean-list {
    list-style: none;
    text-align: left;
    margin-left: 0;
    padding: 0 10px;
}

ul.clean-list li {
    padding: 10px 0;
    border-bottom: 1px solid whitesmoke;
    font-size: 13px;
}

.pill-list {
    list-style: none;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
}

.list-pill {
    margin: 5px;
    align-items: center;
    background-color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
}

.list-pill.text-small {
    border-width: 1px;
    padding: 5px 10px;
}

.list-pill.input {
    border: 2px solid white;
    cursor: pointer;
}

.list-pill.input:hover {
    border: 2px solid #9e7de9 !important;
}

.list-pill.bg-transparent-pill {
    background: transparent;
    width: 100px;
    border: 2px dashed rgba(0,0,0,0.1);
}

.list-pill.bg-success {
    background-color: #34BD1F !important;
}

/* Button Styles */
.btn-primary {
    background-color: #57f5f3 !important;
    color: black;
    border: none;
}

.btn-success {
    background-color: #55f5a3 !important;
    color: black;
    border: none;
}

/* Card Styles */
.frost {
    background: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px dashed rgba(255, 255, 255, 0.2);
    box-shadow: none;
    border-radius: 20px;
}

.frost.circle {
    border-radius: 50%;
    height: 300px;
    width: 300px;
}

.frost .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.curvy-card {
    border-radius: 20px;
    border: 1px dashed rgba(255, 255, 255, 0.5) !important;
    background: transparent;
    padding: 10px;
}

.curvy-card .card-body {
    background: white;
    border-radius: 20px;
}

.card-success.curvy-card {
    border: 1px dashed #5bb8b3 !important;
}

.card-success .card-body {
    background: #5bb8b3;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    color: white;
    font-weight: bold;
}

/* Icon Styles */
.icon-circle {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 2px dashed rgba(0,0,0,0.1);
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.icon-circle img {
    width: 50px;
}

/* Tooltip Styles */
.gradient-no-arrow-1-theme {
    background: transparent;
    z-index: -3;
}

.gradient-no-arrow-1-theme .tippy-content {
    background: #9e7de9;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px 15px;
}

.tippy-tooltip[data-placement^=left] > .tippy-arrow { border-left-color: #9e7de9 !important; }
.tippy-tooltip[data-placement^=top] > .tippy-arrow { border-top-color: #9e7de9 !important; }
.tippy-tooltip[data-placement^=right] > .tippy-arrow { border-right-color: #9e7de9 !important; }
.tippy-tooltip[data-placement^=bottom] > .tippy-arrow { border-bottom-color: #9e7de9 !important; }

/* Accordion Styles */
.accordion-item.first, .accordion-item.first .accordion-button {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.accordion-item.last, .accordion-item.last .accordion-button.collapsed {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.accordion-button.collapsed {
    background: transparent;
}

/* Image Rotator Styles */
.image-rotator-container {
    position: relative;
    width: 100%;
    max-width: 400px;
    height: 0;
    padding-bottom: 75%;
}

.image-rotator {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

.image-rotator.active {
    opacity: 1;
}

/* Misc Styles */
.tilt-left {
    transform: rotate(-3deg);
    animation: tiltLeftSlow 12s linear infinite;
}

.tilt-right {
    transform: rotate(3deg);
    animation: tiltRightSlow 12s linear infinite;
}

.rotate {
    animation: rotateSlow 60s linear infinite;
}

.rotating-circle {
    position: absolute;
    z-index: -1;
    background: transparent;
    border: 2px dashed rgba(0,0,0,0.05);
    height: 400px;
    width: 400px;
    border-radius: 50%;
    animation: rotateSlow 60s linear infinite;
}

.rotating-circle.lg {
    height: 700px;
    width: 700px;
}

.rotating-circle.first {
    top: -50px;
    left: -38px;
}

.rotating-circle.second {
    top: -20px;
    left: -20px;
}

.dataDot {
    position: absolute;
    left: -9000px;
}

.full-width {
    max-width: 9999px !important;
    padding-left: 0;
    padding-right: 0;
}

#magnifier {
    position: absolute;
    font-size: 24px;
    color: #333;
    transition: all 0.5s ease;
    pointer-events: none;
}

.text-success {
    color: #34BD1F !important;
}

/* Media Queries */
@media(max-width: 768px) {
    .text-xl { font-size: 73px; }
    .card.frost { margin: 0 auto; }
    .rotating-circle.first { left: 25px; }
    .rotating-circle.lg {
        top: -50px;
        left: -125px;
    }
    .rotating-circle.second { left: 25px; }
    .mob-c { margin-top: 0 !important; }
    .lg-spacing {
        margin-top: 100px;
        margin-bottom: 50px;
    }
    .sm-spacing {
        margin-top: 100px;
        margin-bottom: 50px;
    }
    .orb3 {
        right: 30px;
        top: 600px;
        opacity: 0.5;
    }
    .orb4 {
        left: -100px;
        opacity: 0.4;
    }
    .orb5 { display: none; }
    .how-to .list-pill { font-size: 8px; }
    .how-to .list-pill.bg-transparent-pill { width: fit-content; }
    .full-width .row { padding: 0 5px; }
    .fraud-row-adjust-sm {
        margin-top: 350px;
        margin-bottom: 50px !important;
    }
    .toggle-text.text-small{
            font-size: 12px !important;
            text-align: left;
            max-width: 300px;
        }
}

@media(min-width: 768px) {
    .lg-spacing {
        margin-top: 200px;
        margin-bottom: 100px;
    }
    .md-mr-30 { margin-right: 100px; }
    .mob-flex-first { justify-content: flex-start !important; }
    .toggle-text.text-small{
            font-size: 14px !important;
        }
}

@media(max-width: 990px) {
    .hidden-md { display: none !important; }
    #dotCanvas{
        margin-top: 0 !important;
    }
}

@media(min-width: 990px) {
    .display-md { display: inherit !important; }
    .hidden-lg { display: none !important; }
}