.card{
      background: none;
      background-color: none;
}
.card-header{
   width: 100%;
   background-size: cover;
   background-position: bottom;
   border-top-left-radius: 20px !important;
   border-top-right-radius: 20px !important;
}
.card-body, .tile-footer{
   background: white;
   padding: 20px;
}
.payment-table{
   width: 100%;
}
.payment-table > * {
   font-size: 18px;
}
.pills-tab{
   display: inline-block;
   width: auto;
   margin: 3px 2px;
   padding-right: 10px;
   padding-left: 10px;
   border-radius: 10px;
   background-color: #ecebea;
   font-size: 13px;
   line-height: 20px;
   font-weight: 400;
   text-align: center;
   -o-object-fit: fill;
   object-fit: fill;
}
.table td{

}
a.btn-primary {
    background-color: #1d7e89;
    border-color: #1d7e89;
    color: #fff;
 }
.image-gallery{
   display: block;
   width: 100%;
   margin-bottom: -26px;
}
.sleep.image-gallery{
   margin-bottom 0;
}
.image-gallery a:first-of-type {
   display: block;
}
.image-gallery a{
   display: inline-block;
   margin-bottom: -17px;
   vertical-align: top;
   
}
.image-gallery a .image-header{
   box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
}
.image-gallery a:first-of-type  .image-header{
   box-shadow: none;
}
.sleep .image-gallery a{
   display: inline-block;
   margin: 0;
}
.sleep .image-gallery{
   display: block;
   overflow-x: scroll;
   white-space:nowrap;
   margin: 0;
}

.image-header{
   width: 75px;
    height: 75px;
    display: table-caption;
    margin-left: 10px;
    margin-top: -86px;
    background-position: center;
    background-size: cover;
    border: 2px solid white;
    border-radius: 10px;
}

.image-header.order-0{
   width: 100% !important;
   min-height: 250px !important;
   background-size: cover;
   background-position: center;
   border: none;
   display: inherit;
   margin-left: 0;
   margin-top: 0;
   border-top-left-radius: 20px;
   border-bottom-left-radius: 0px;
   border-bottom-right-radius: 0px;
   border-top-right-radius: 20px;
   
}

.card-body{
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
}
.stop .card-header{
   border-top-left-radius: 0;
   border-top-right-radius: 0;
}
.stop .card-body .inner-body{
   padding: 10px 20px;
}
.order-0{
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
}
.image-tile{
   display: inline-block;
   width: 200px;
   height: 200px;
   background-size: cover;
   background-position: bottom;
   border-radius: 20px;
   margin-right: 10px;
}
.sleep p {
   color: white;
}
h2 .btn-block{
   margin: 0;
   padding: 0;
   text-decoration: none !important;
}
h2 .btn-block p {
   display: inline-block;
}
h2 .btn-block i{
   display: inline-block;
   float: right;
}
i.rotate-icon{
   transform: rotate(180deg);
}
.collapsed i.rotate-icon{
    transform: rotate(0deg);
}
#itinerary-stories, #sticky-header{
   display: none;
}
#sticky-header, #page-content.show-story #sticky-header{
   display: none !important;
}
#page-content.show-sticky #sticky-header{
   display: block !important;
}
#sticky-header{
   position: fixed;
   top: 0px;
   left: 0;
   width: 100%;
   text-align: left;
   z-index: 99;
   background: white;
}

#sticky-header h2{
   font-size: 2.5vh;
   font-weight: bold;
}
.flickity-enabled.is-draggable .flickity-viewport{
   height: 100% !important;
}
.product-image{
   border-top-left-radius: 20px; 
   border-top-right-radius: 20px; 
   background-position: center;
   background-size: cover;
}
.product-author, .story-author{
   border-radius: 10%;
    width: 100px;
    margin: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
}