#hero-text-wrapper .section-title {
    font-size: 3.5rem;
    line-height: 4rem;
}
    .cloud{
        opacity: 0.4;
    }
        #boat{
            -webkit-animation: moveboat 10s linear infinite;
            -moz-animation: moveboat 10s linear infinite;
            -o-animation: moveboat 10s linear infinite;
        }
    }

    /*Lets start with the cloud formation rather*/

    /*The container will also serve as the SKY*/

    *{ margin: 0; padding: 0;}
    #clouds{
        pointer-events: none;
    }

    @media screen and (max-width:  600px){


    .mobile-text-center{
    text-align:center  !important;
    max-height: 200px;
    height: 200px;
    }
    .mobile-mt{
    margin-top: 20px;
    }
    .mobile-mgng{
    margin-top: 20px;
    }
    #clouds{
      display: none;
    width: 100%;
    padding: 10px 0;
    position: absolute;
    top: 0;
    z-index: 8;
    padding-bottom: 0;
    }

}
@media screen and (min-width:  600px){
  .mobile-mgng{
  margin-top: -170px;
}
#clouds{
  width: 100%;
   padding: 80px 0;
   position: absolute;
   top: 0;
   z-index: 8;
   padding-bottom: 0;
}
}

/*Time to finalise the cloud shape*/
.cloud {
   width: 200px; height: 60px;
   background: #fff;
   
   border-radius: 200px;
   -moz-border-radius: 200px;
   -webkit-border-radius: 200px;
   
   position: relative; 
}

.cloud:before, .cloud:after {
   content: '';
   position: absolute; 
   background: #fff;
   width: 100px; height: 80px;
   position: absolute; top: -15px; left: 10px;
   
   border-radius: 100px;
   -moz-border-radius: 100px;
   -webkit-border-radius: 100px;
   
   -webkit-transform: rotate(30deg);
   transform: rotate(30deg);
   -moz-transform: rotate(30deg);
}

.cloud:after {
   width: 120px; height: 120px;
   top: -55px; left: auto; right: 15px;
}

/*Time to animate*/
.x1 {
   -webkit-animation: moveclouds 35s linear infinite;
   -moz-animation: moveclouds 35s linear infinite;
   -o-animation: moveclouds 35s linear infinite;
}

/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
   left: 200px;
   
   -webkit-transform: scale(0.6);
   -moz-transform: scale(0.6);
   transform: scale(0.6);
   opacity: 0.6; /*opacity proportional to the size*/
   
   /*Speed will also be proportional to the size and opacity*/
   /*More the speed. Less the time in 's' = seconds*/
   -webkit-animation: moveclouds 50s linear infinite;
   -moz-animation: moveclouds 50s linear infinite;
   -o-animation: moveclouds 50s linear infinite;
}

.x3 {
   left: -250px; top: -200px;
   
   -webkit-transform: scale(0.8);
   -moz-transform: scale(0.8);
   transform: scale(0.8);
   opacity: 0.8; /*opacity proportional to the size*/
   
   -webkit-animation: moveclouds 80s linear infinite;
   -moz-animation: moveclouds 80s linear infinite;
   -o-animation: moveclouds 80s linear infinite;
}

.x4 {
   left: 470px; top: -250px;
   
   -webkit-transform: scale(0.75);
   -moz-transform: scale(0.75);
   transform: scale(0.75);
   opacity: 0.75; /*opacity proportional to the size*/
   
   -webkit-animation: moveclouds 36s linear infinite;
   -moz-animation: moveclouds 36s linear infinite;
   -o-animation: moveclouds 36s linear infinite;
}

.x5 {
   left: -150px; top: -150px;
   
   -webkit-transform: scale(0.8);
   -moz-transform: scale(0.8);
   transform: scale(0.8);
   opacity: 0.8; /*opacity proportional to the size*/
   
   -webkit-animation: moveclouds 120s linear infinite;
   -moz-animation: moveclouds 120s linear infinite;
   -o-animation: moveclouds 120s linear infinite;
}

.x6 {
   width: 1000px;
   left: -100px; top: 250px;
   position: absolute;
   
   -webkit-animation: moveplane 60s linear infinite;
   -moz-animation: moveplane 60s linear infinite;
   -o-animation: moveplane 60s linear infinite;
}
.x7 {
   width: 1000px;
   position: absolute;
   left: 100vw; top: 5.5%;
   
   -webkit-animation: moveplane-r 40s linear infinite;
   -moz-animation: moveplane-r 40s linear infinite;
   -o-animation: moveplane-r 40s linear infinite;
}

#boat-animation{
   background-repeat-x: inherit;
   background-repeat-y: no-repeat;
   position: absolute;
   width: 100vw;
   height: 35px;
   margin-left: 0;
   left: 0;
   bottom: 0;
   background-image: url(/assets/savings/img/water.png);"
}
#boat-container{
   position: absolute;
}


#boat-container{
   -webkit-animation: waves 4s linear infinite;
   -moz-animation: waves 4s linear infinite;
   -o-animation: waves 4s linear infinite;
}


@-webkit-keyframes moveplane {
   0% {margin-left: 0;}
   100% {margin-left: 200vw;}
}
@-webkit-keyframes moveplane-r {
   0% {margin-left: 0;}
   100% {margin-left: -130vw;}
}
@-webkit-keyframes moveboat {
   0% {margin-left: 0;}
   100% {margin-left: 100vw;}
}

@-webkit-keyframes waves {
   0% {margin-top: -5px;}
   50% {margin-top: -13px;}
   100% {margin-top: -5px;}
}


@-webkit-keyframes moveclouds {
   0% {margin-left: 100%;}
   100% {margin-left: -1000px;}
}
@-moz-keyframes moveclouds {
   0% {margin-left: 100%;}
   100% {margin-left: -1000px;}
}
@-o-keyframes moveclouds {
   0% {margin-left: 100%;}
   100% {margin-left: -1000px;}
}

@-webkit-keyframes moveclouds-r {
   0% {margin-left: 0px;}
   100% {margin-left: 1000px;}
}
@-moz-keyframes moveclouds-r {
   0% {margin-left: 0px;}
   100% {margin-left: 1000px;}
}
@-o-keyframes moveclouds-r {
   0% {margin-left: 0px;}
   100% {margin-left: 1000px;}
}
h6.elementor-heading-title{
   text-transform: uppercase;
    line-height: 1.5em;
    letter-spacing: 2px;
    color: #0057FC !important;
}

html, body, main{
   overflow-x: !important;
}