        body{
          overflow-x: hidden;
        }
        .card-header{
          padding:  1rem !important;
        }

        .profile.grid-item .profile-bio{
            margin:0;
            border-bottom-left-radius:20px;
            border-bottom-right-radius:20px;
            padding: 20px;
            width:100%;
            background:white;
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); 
          }
        
        @media (max-width: 767px){
          .black.hero-section{
            margin: 20px !important;
          }
          .profile.grid-item .profile-bio{
            max-width:169px;
          }
          nav a.nav-links{
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
          nav .nav-link-button{
            margin-top: 20px;

          }



          #products-nav-link .userprofile{
            justify-content: flex-end;
          }
          #nav-products-list{
            margin-top: 20px;
          }
        }
        @media (min-width:  768px){
          .profile.grid-item .profile-bio{
            max-width:200px;
          }
          .venti-navbar .hamburger-menu-list li{
            padding-left: 0;
          }
          .nav-links span{
            display: none;
          }
        }


        nav.venti-navbar .section-wrapper{
          background: transparent;
        }
        body{
          background: #f2f2f6;
          background-color: #f2f2f6 !important;
        }
        a{
          text-decoration: none !important;
        }
        .btn-black{
          background: black !important;
          color: white !important;
          font-weight: bold;
        }

        .btn-white{
          background: white;
          font-weight: bold;
        }
        .select2{
          max-width: 100%;
        }
        .select2-container .select2-search--inline .select2-search__field{
          min-height: 25px;
        }
        .user-card{
          cursor: pointer; 
          border-radius:20px; 
          margin: 0 20px; 
          min-height: 200px; 
          display: flex; 
          justify-content: end;
          background-size: cover; 
          border: none;
          min-width: 170px;
        }

ul.group-detail-list {
  margin: 0;
  padding: 0;
  list-style: none;
  min-width: 250px;
}
ul.group-detail-list li {
  min-height: 30px;
}

ul.group-detail-list li .detail-list{
  display: flex;
  justify-content: space-between;
}

ul.group-detail-list li .detail-list .list-detail{
width: 90%;
  }
  .profile.grid-item .card{
  cursor: pointer; border-radius:20px;
    
    min-height: 200px;
    min-width: 200px;
    width: 100%;
    display: flex;
    justify-content: end;
    background-size: cover;
    border: none;
  }

.soft-shadow {
  box-shadow: 0 1px 1px rgba(0,0,0,0.01), 
              0 2px 2px rgba(0,0,0,0.01), 
              0 4px 4px rgba(0,0,0,0.01), 
              0 8px 8px rgba(0,0,0,0.01),
              0 16px 16px rgba(0,0,0,0.01);

}