		.button-group input, .button-group span{
			display: inline-block !important;
		}
		.button-group{
			width: 100%;
    		display: flex;
		}
		.button-group span{
			margin-left: -42px;
		}
		.tile-footer{
			background: none;
		}
		.card-body{
			border-radius: 20px;
		}
		.nav-justified .nav-item, .nav-justified>.nav-link{
			flex-grow: 0;
		}
		button[title="Save Changes"]{
			background: #198754 !important;
			width: 60px !important;
			color: white !important;
			font-weight: bold !important;
		}
		button[title="Save Changes"] svg{
			fill: white !important;
			display: inline !important;
			height: 27px;
		}

		button[title="Save Changes"]:after{
			content: "SAVE ";
		}
		
		

		@media screen and (max-width:  600px){
			#chatBubble.opened{
				height: 90%;
				width: 100%;
				right: 0;
			}
			.tripWidget{
				margin-top: 25px;
			}
			.members{
				margin: 0;
				display: block;
			}
			.col-xs-6{
				min-width: 100px;
				width: 50%;
		    max-width: 172px;
		    display: inline-flex;
		    padding: 0;
			}
			.user-card{
				margin: 0;
				margin-bottom: 5px;
			}
		}