<!-- ============================================-->
         <!-- <section> begin ============================-->
         <section class="py-0 overflow-hidden">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-lg-6 px-0"><img class="img-fluid order-md-0 mb-4 h-100 fit-cover" src="https://technext.github.io/voyage-2/v1.0.2/assets/img/gallery/hero-section-2.png" alt="..." /></div>
                  <div class="col-lg-6 px-0 bg-primary-gradient bg-offcanvas-right">
                     <div class="mx-6 mx-xl-8 my-8">
                        <div class="align-items-center d-block d-flex mb-5">
                           <img class="img-fluid me-3 me-md-2 me-lg-4" src="https://technext.github.io/voyage-2/v1.0.2/assets/img/icons/locations.png" alt="..." />
                           <div class="flex-1 align-items-center pt-2">
                              <h5 class="fw-bold text-light">Visit the greatest places</h5>
                           </div>
                        </div>
                        <div class="align-items-center d-block d-flex mb-5">
                           <img class="img-fluid me-3 me-md-2 me-lg-4" src="https://technext.github.io/voyage-2/v1.0.2/assets/img/icons/schedule.png" alt="..." />
                           <div class="flex-1 align-items-center pt-2">
                              <h5 class="fw-bold text-light">Make your own plans.</h5>
                           </div>
                        </div>
                        <div class="align-items-center d-block d-flex mb-5">
                           <img class="img-fluid me-3 me-md-2 me-lg-4" src="https://technext.github.io/voyage-2/v1.0.2/assets/img/icons/save.png" alt="..." />
                           <div class="flex-1 align-items-center pt-2">
                              <h5 class="fw-bold text-light">Save 50% on your next trip</h5>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- end of .container-->
         </section>
         <!-- <section> close ============================-->
         <!-- ============================================-->
         <section class="py-7 overflow-hidden" id="places">
            <div class="container bg-offcanvas-gray-right">
               <div class="row gx-2 mb-2">
                  <div class="col-12 col-md-12 col-lg-4">
                     <div class="bg-primary-gradient bg-offcanvas h-100">
                        <div class="row g-0 justify-content-end">
                           <div class="col-12">
                              <div class="p-6 py-md-5 px-md-3 py-lg-8 text-light">
                                 <img class="mb-5" src="https://technext.github.io/voyage-2/v1.0.2/assets/img/icons/icon-location.svg" alt="..." />
                                 <h2 class="mb-2 text-light">Popular places</h2>
                                 <p>Enjoy the benefits of our packages to the<br class="d-none d-lg-block" />sites where our visitors have more fun. <br class="d-none d-lg-block" />Properly arranged with low costing.</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-6 col-lg-4">
                     <div class="card card-span h-100 text-white">
                        <img class="img-fluid h-100 w-100" src="https://technext.github.io/voyage-2/v1.0.2/assets/img/gallery/agra.png" height="375" alt="..." />
                        <div class="card-img-overlay ps-0 d-flex flex-column justify-content-between bg-voyage-gradient">
                           <div class="mt-auto px-4 mb-1">
                              <h3 class="fs-1 fs-md-2 text-white">Agra</h3>
                              <span class="text-light fs--1 me-1"><i class="fas fa-gift"></i></span><span class="text-light me-3">10 Packages</span>
                           </div>
                        </div>
                        <a class="stretched-link" href="#!"></a>
                     </div>
                  </div>
                  <div class="col-sm-6 col-lg-4">
                     <div class="card card-span h-100 text-white">
                        <img class="img-fluid h-100 w-100" src="https://technext.github.io/voyage-2/v1.0.2/assets/img/gallery/kualalumpur.png" height="375" alt="..." />
                        <div class="card-img-overlay ps-0 d-flex flex-column justify-content-between bg-voyage-gradient">
                           <div class="mt-auto px-4 mb-1">
                              <h3 class="fs-1 fs-md-2 text-white">Kuala Lumpur</h3>
                              <span class="text-light fs--1 me-1"><i class="fas fa-gift"></i></span><span class="text-light me-3">10 Packages</span>
                           </div>
                        </div>
                        <a class="stretched-link" href="#!"></a>
                     </div>
                  </div>
               </div>
               <div class="row g-2">
                  <div class="col-sm-6 col-lg-4">
                     <div class="row g-2">
                        <div class="col-12">
                           <div class="card card-span h-100 text-white">
                              <img class="img-fluid h-100 w-100" src="https://technext.github.io/voyage-2/v1.0.2/assets/img/gallery/munich.png" height="375" alt="..." />
                              <div class="card-img-overlay ps-0 d-flex flex-column justify-content-between bg-voyage-gradient">
                                 <div class="mt-auto px-4 mb-1">
                                    <h3 class="fs-1 fs-md-2 text-white">Munich</h3>
                                    <span class="text-light fs--1 me-1"><i class="fas fa-gift"></i></span><span class="text-light me-3">10 Packages</span>
                                 </div>
                              </div>
                              <a class="stretched-link" href="#!"></a>
                           </div>
                        </div>
                        <div class="col-12">
                           <div class="card card-span h-100 text-white">
                              <img class="img-fluid h-100 w-100" src="https://technext.github.io/voyage-2/v1.0.2/assets/img/gallery/munich.png" height="375" alt="..." />
                              <div class="card-img-overlay ps-0 d-flex flex-column justify-content-between bg-voyage-gradient">
                                 <div class="mt-auto px-4 mb-1">
                                    <h3 class="fs-1 fs-md-2 text-white">Munich</h3>
                                    <span class="text-light fs--1 me-1"><i class="fas fa-gift"></i></span><span class="text-light me-3">10 Packages</span>
                                 </div>
                              </div>
                              <a class="stretched-link" href="#!"></a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-6 col-lg-4">
                     <div class="row g-2">
                        <div class="col-12">
                           <div class="card card-span h-100 text-white">
                              <img class="img-fluid h-100 w-100" src="https://technext.github.io/voyage-2/v1.0.2/assets/img/gallery/paris.png" height="375" alt="..." />
                              <div class="card-img-overlay ps-0 d-flex flex-column justify-content-between bg-voyage-gradient">
                                 <div class="mt-auto px-4 mb-1">
                                    <h3 class="fs-1 fs-md-2 text-white">Paris</h3>
                                    <span class="text-light fs--1 me-1"><i class="fas fa-gift"></i></span><span class="text-light me-3">10 Packages</span>
                                 </div>
                              </div>
                              <a class="stretched-link" href="#!"></a>
                           </div>
                        </div>
                        <div class="col-12">
                           <div class="card card-span h-100 text-white">
                              <img class="img-fluid h-100 w-100" src="https://technext.github.io/voyage-2/v1.0.2/assets/img/gallery/vienna.png" height="375" alt="..." />
                              <div class="card-img-overlay ps-0 d-flex flex-column justify-content-between bg-voyage-gradient">
                                 <div class="mt-auto px-4 mb-1">
                                    <h3 class="fs-1 fs-md-2 text-white">Vienna</h3>
                                    <span class="text-light fs--1 me-1"><i class="fas fa-gift"></i></span><span class="text-light me-3">10 Packages</span>
                                 </div>
                              </div>
                              <a class="stretched-link" href="#!"></a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-12 col-lg-4">
                     <div class="bg-secondary-gradient h-100 d-flex align-items-center">
                        <div class="text-light p-4 p-sm-6 p-lg-0 px-xxl-6">
                           <p class="fs-1 px-4 mb-6">Wanna travel to the most thrilling spot on the planet? We've set a bunch of surprises for you.</p>
                           <a class="btn btn-lg text-light fs-2" href="#!" role="button">
                              Click to view more
                              <svg class="bi bi-arrow-right-circle ms-5" xmlns="http://www.w3.org/2000/svg" width="55" height="55" fill="currentColor" viewBox="0 0 16 16">
                                 <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"></path>
                              </svg>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <section class="py-0 my-7">
            <div class="bg-holder w-50 bg-left  d-none d-lg-block" style="background-image:url(https://technext.github.io/voyage-2/v1.0.2/assets/img/gallery/sharee.png);background-position:top;"></div>
            <!--/.bg-holder-->
            <div class="container">
               <div class="row g-0">
                  <div class="col-lg-4 order-1 order-lg-0"> </div>
                  <div class="col-lg-8 bg-white">
                     <div class="carousel slide" id="carouselShare" data-bs-ride="carousel">
                        <div class="carousel-inner">
                           <div class="carousel-item active" data-bs-interval="10000">
                              <div class="row h-100">
                                 <div class="col-12">
                                    <img class="w-100" src="https://technext.github.io/voyage-2/v1.0.2/assets/img/gallery/dubai.png" height="600" alt="..." />
                                    <div class="pt-5 ps-sm-7">
                                       <h4 class="mb-2 text-1000">Share a trip</h4>
                                       <h2 class="mb-3 text-primary fs-3 fs-md-6">Dubai</h2>
                                       <p class="fw-normal mb-0">Dubai, a city with many faces, is one of the world's most popular tourist destinations. The Burj Khalifa, the world's highest tower, is located here. The futuristic beauty of new buildings is at the heart of Dubai tourism.</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="carousel-item" data-bs-interval="2000">
                              <div class="row h-100">
                                 <div class="col-12">
                                    <img class="w-100" src="https://technext.github.io/voyage-2/v1.0.2/assets/img/gallery/cinnamon.png" height="600" alt="..." />
                                    <div class="pt-5 ps-sm-7">
                                       <h4 class="mb-2 text-1000">Share a trip</h4>
                                       <h2 class="mb-3 text-primary fs-3 fs-md-6">Maldives</h2>
                                       <p class="fw-normal mb-0">Dubai, a city with many faces, is one of the world's most popular tourist destinations. The Burj Khalifa, the world's highest tower, is located here. The futuristic beauty of new buildings is at the heart of Dubai tourism.</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="carousel-item" data-bs-interval="1000">
                              <div class="row h-100">
                                 <div class="col-12">
                                    <img class="w-100" src="https://technext.github.io/voyage-2/v1.0.2/assets/img/gallery/dhigu.png" height="600" alt="..." />
                                    <div class="pt-5 ps-sm-7">
                                       <h4 class="mb-2 text-1000">Share a trip</h4>
                                       <h2 class="mb-3 text-primary fs-3 fs-md-6">Maldives</h2>
                                       <p class="fw-normal mb-0">Dubai, a city with many faces, is one of the world's most popular tourist destinations. The Burj Khalifa, the world's highest tower, is located here. The futuristic beauty of new buildings is at the heart of Dubai tourism.</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="carousel-item">
                              <div class="row h-100">
                                 <div class="col-12">
                                    <img class="w-100" src="https://technext.github.io/voyage-2/v1.0.2/assets/img/gallery/dubai.png" height="600" alt="..." />
                                    <div class="pt-5 ps-sm-7">
                                       <h4 class="mb-2 text-1000">Share a trip</h4>
                                       <h2 class="mb-3 text-primary fs-3 fs-md-6">Dubai</h2>
                                       <p class="fw-normal mb-0">Dubai, a city with many faces, is one of the world's most popular tourist destinations. The Burj Khalifa, the world's highest tower, is located here. The futuristic beauty of new buildings is at the heart of Dubai tourism.</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="row ps-sm-7 align-items-end">
                           <div class="col-4 col-sm-6 position-relative z-index-2">
                              <ol class="carousel-indicators me-xxl-7 me-xl-4 me-lg-7">
                                 <li class="active" data-bs-target="#carouselShare" data-bs-slide-to="0"></li>
                                 <li data-bs-target="#carouselShare" data-bs-slide-to="1"></li>
                                 <li data-bs-target="#carouselShare" data-bs-slide-to="2"></li>
                                 <li data-bs-target="#carouselShare" data-bs-slide-to="3"></li>
                              </ol>
                           </div>
                           <div class="col-8 col-sm-6 position-relative z-index-2 text-end">
                              <a class="btn btn-lg text-secondary" href="#" role="button">
                                 Read More
                                 <svg class="bi bi-arrow-right ms-2" xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                                 </svg>
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <section class="py-7 overflow-hidden">
            <div class="container bg-offcanvas-gray">
               <div class="row gx-2">
                  <div class="col-sm-6 col-lg-4 order-1 order-lg-0 gy-2 gy-lg-0">
                     <div class="card card-span h-100 text-white">
                        <img class="img-fluid h-100 w-100" src="https://technext.github.io/voyage-2/v1.0.2/assets/img/gallery/sky-the-limit.png" height="375" alt="..." />
                        <div class="card-img-overlay ps-0 d-flex flex-column justify-content-between bg-voyage-gradient">
                           <div class="mt-auto px-4">
                              <h3 class="fs-1 fs-md-2 text-white">Sky the Limit</h3>
                              <div class="d-flex align-items-center justify-content-start"><span class="text-light fs--1 me-1"><i class="fas fa-map-marker-alt"></i></span><span class="text-light me-3">Manali</span><span class="text-light fs--1 me-1"><i class="fas fa-calendar"></i></span><span class="text-light">4 days</span></div>
                              <h1 class="my-2 text-light fw-bolder fs-4"><span>$175</span><span class="text-light fs--1 fw-normal">/Per person</span></h1>
                           </div>
                        </div>
                        <a class="stretched-link" href="#!"></a>
                     </div>
                  </div>
                  <div class="col-sm-6 col-lg-4 order-2 order-lg-0 gy-2 gy-lg-0">
                     <div class="card card-span h-100 text-white">
                        <img class="img-fluid h-100 w-100" src="https://technext.github.io/voyage-2/v1.0.2/assets/img/gallery/beyond-the-blues.png" height="375" alt="..." />
                        <div class="card-img-overlay ps-0 d-flex flex-column justify-content-between bg-voyage-gradient">
                           <div class="mt-auto px-4">
                              <h3 class="fs-1 fs-md-2 text-white">Beyond the Blues</h3>
                              <div class="d-flex align-items-center justify-content-start"><span class="text-light fs--1 me-1"><i class="fas fa-map-marker-alt"></i></span><span class="text-light me-3">Maldives</span><span class="text-light fs--1 me-1"><i class="fas fa-calendar"></i></span><span class="text-light">4 days</span></div>
                              <h1 class="my-2 text-light fw-bolder fs-4"><span>$175</span><span class="text-light fs--1 fw-normal">/Per person</span></h1>
                           </div>
                        </div>
                        <a class="stretched-link" href="#!"></a>
                     </div>
                  </div>
                  <div class="col-12 col-lg-4">
                     <div class="bg-primary-gradient h-100 bg-offcanvas-right">
                        <div class="row g-0 h-100">
                           <div class="col-12 h-100">
                              <div class="d-flex flex-column justify-content-center h-100 text-light ps-4 ps-xl-5 py-5 py-lg-0">
                                 <img class="mb-5" src="https://technext.github.io/voyage-2/v1.0.2/assets/img/icons/icon-gift-box.svg" width="58" alt="..." />
                                 <h2 class="mb-2 text-light">popular Packages</h2>
                                 <p>Choose the most popular bundles among <br class="d-none d-xl-block" />our current ones.</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-6 col-lg-4 gy-2">
                     <div class="card card-span h-100 text-white">
                        <img class="img-fluid h-100 w-100" src="https://technext.github.io/voyage-2/v1.0.2/assets/img/gallery/green.png" height="375" alt="..." />
                        <div class="card-img-overlay ps-0 d-flex flex-column justify-content-between bg-voyage-gradient">
                           <div class="mt-auto px-4">
                              <h3 class="fs-1 fs-md-2 text-white">Within the Gren</h3>
                              <div class="d-flex align-items-center justify-content-start"><span class="text-light fs--1 me-1"><i class="fas fa-map-marker-alt"></i></span><span class="text-light me-3">Phillipines</span><span class="text-light fs--1 me-1"><i class="fas fa-calendar"></i></span><span class="text-light">4 days</span></div>
                              <h1 class="my-2 text-light fw-bolder fs-4"><span>$175</span><span class="text-light fs--1 fw-normal">/Per person</span></h1>
                           </div>
                        </div>
                        <a class="stretched-link" href="#!"></a>
                     </div>
                  </div>
                  <div class="col-sm-6 col-lg-4 gy-2">
                     <div class="card card-span h-100 text-white">
                        <img class="img-fluid h-100 w-100" src="https://technext.github.io/voyage-2/v1.0.2/assets/img/gallery/queens-gambit.png" height="375" alt="..." />
                        <div class="card-img-overlay ps-0 d-flex flex-column justify-content-between bg-voyage-gradient">
                           <div class="mt-auto px-4">
                              <h3 class="fs-1 fs-md-2 text-white">Queens Gambit</h3>
                              <div class="d-flex align-items-center justify-content-start"><span class="text-light fs--1 me-1"><i class="fas fa-map-marker-alt"></i></span><span class="text-light me-3">London</span><span class="text-light fs--1 me-1"><i class="fas fa-calendar"></i></span><span class="text-light">4 days</span></div>
                              <h1 class="my-2 text-light fw-bolder fs-4"><span>$175</span><span class="text-light fs--1 fw-normal">/Per person</span></h1>
                           </div>
                        </div>
                        <a class="stretched-link" href="#!"></a>
                     </div>
                  </div>
                  <div class="col-sm-6 col-lg-4 gy-2">
                     <div class="card card-span h-100 text-white">
                        <img class="img-fluid h-100 w-100" src="https://technext.github.io/voyage-2/v1.0.2/assets/img/gallery/canals.png" height="375" alt="..." />
                        <div class="card-img-overlay ps-0 d-flex flex-column justify-content-between bg-voyage-gradient">
                           <div class="mt-auto px-4">
                              <h3 class="fs-1 fs-md-2 text-white">City of canals</h3>
                              <div class="d-flex align-items-center justify-content-start"><span class="text-light fs--1 me-1"><i class="fas fa-map-marker-alt"></i></span><span class="text-light me-3">Maldives</span><span class="text-light fs--1 me-1"><i class="fas fa-calendar"></i></span><span class="text-light">4 days</span></div>
                              <h1 class="my-2 text-light fw-bolder fs-4"><span>$175</span><span class="text-light fs--1 fw-normal">/Per person</span></h1>
                           </div>
                        </div>
                        <a class="stretched-link" href="#!"></a>
                     </div>
                  </div>
                  <div class="col-12 col-lg-8 gy-2 order-3 order-lg-0">
                     <div class="bg-secondary-gradient h-100">
                        <div class="row h-100">
                           <div class="col-12">
                              <div class="d-flex flex-column flex-center h-100 text-light p-4 p-sm-6 p-md-8 p-lg-0">
                                 <p class="fs-1 px-3 mb-5">Most exclusive packages are ready <br class="d-none d-xl-block" />for you. It's only a click away!</p>
                                 <a class="btn btn-lg text-light fs-1" href="#!" role="button">
                                    Click to view more
                                    <svg class="bi bi-arrow-right-circle ms-7" xmlns="http://www.w3.org/2000/svg" width="55" height="55" fill="currentColor" viewBox="0 0 16 16">
                                       <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"></path>
                                    </svg>
                                 </a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-6 col-lg-4 gy-2">
                     <div class="card card-span h-100 text-white">
                        <img class="img-fluid h-100 w-100" src="https://technext.github.io/voyage-2/v1.0.2/assets/img/gallery/mountain-venture.png" height="375" alt="..." />
                        <div class="card-img-overlay ps-0 d-flex flex-column justify-content-between bg-voyage-gradient">
                           <div class="mt-auto px-4">
                              <h3 class="fs-1 fs-md-2 text-white">Mountain Venture</h3>
                              <div class="d-flex align-items-center justify-content-start"><span class="text-light fs--1 me-1"><i class="fas fa-map-marker-alt"></i></span><span class="text-light me-3">Maldives</span><span class="text-light fs--1 me-1"><i class="fas fa-calendar"></i></span><span class="text-light">4 days</span></div>
                              <h1 class="my-2 text-light fw-bolder fs-4"><span>$175</span><span class="text-light fs--1 fw-normal">/Per person</span></h1>
                           </div>
                        </div>
                        <a class="stretched-link" href="#!"></a>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- ============================================-->
         <!-- <section> begin ============================-->
         <section class="py-7" id="activities">
            <div class="container">
               <div class="row g-0">
                  <div class="col-lg-4 order-1"><img class="w-100 mt-5 mt-lg-0" src="https://technext.github.io/voyage-2/v1.0.2/assets/img/gallery/bungee-jumping.png" height="750" alt="..." /></div>
                  <div class="col-lg-8">
                     <div class="carousel slide" id="carouselActivity" data-bs-ride="carousel">
                        <div class="carousel-inner">
                           <div class="carousel-item active" data-bs-interval="10000">
                              <div class="row h-100">
                                 <div class="col-12">
                                    <img class="w-100" src="https://technext.github.io/voyage-2/v1.0.2/assets/img/gallery/activity.png" width="383" alt="..." />
                                    <div class="py-4">
                                       <h4 class="mb-2 text-1000">Participate in activities like</h4>
                                       <h2 class="mb-3 text-primary fs-3 fs-md-6">Bungee Jumping</h2>
                                       <p class="fw-normal mb-0 pe-lg-9">Bungee jumping, often known as bungy jumping, is a sport in which a person jumps from a considerable height while attached to a long elastic line. Usually, the pad is built on a high structure like a structure or a crane, a bridge across a steep ravine</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="carousel-item" data-bs-interval="2000">
                              <div class="row h-100">
                                 <div class="col-12">
                                    <img class="w-100" src="https://technext.github.io/voyage-2/v1.0.2/assets/img/gallery/activity.png" width="383" alt="..." />
                                    <div class="py-4">
                                       <h4 class="mb-2 text-1000">Participate in activities like</h4>
                                       <h2 class="mb-3 text-primary fs-3 fs-md-6">Bungee Jumping</h2>
                                       <p class="fw-normal mb-0 pe-lg-9">Bungee jumping, often known as bungy jumping, is a sport in which a person jumps from a considerable height while attached to a long elastic line. Usually, the pad is built on a high structure like a structure or a crane, a bridge across a steep ravine</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="carousel-item" data-bs-interval="1000">
                              <div class="row h-100">
                                 <div class="col-12">
                                    <img class="w-100" src="https://technext.github.io/voyage-2/v1.0.2/assets/img/gallery/activity.png" width="383" alt="..." />
                                    <div class="py-4">
                                       <h4 class="mb-2 text-1000">Participate in activities like</h4>
                                       <h2 class="mb-3 text-primary fs-3 fs-md-6">Bungee Jumping</h2>
                                       <p class="fw-normal mb-0 pe-lg-9">Bungee jumping, often known as bungy jumping, is a sport in which a person jumps from a considerable height while attached to a long elastic line. Usually, the pad is built on a high structure like a structure or a crane, a bridge across a steep ravine</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="carousel-item">
                              <div class="row h-100">
                                 <div class="col-12">
                                    <img class="w-100" src="https://technext.github.io/voyage-2/v1.0.2/assets/img/gallery/activity.png" width="383" alt="..." />
                                    <div class="py-4">
                                       <h4 class="mb-2 text-1000">Participate in activities like</h4>
                                       <h2 class="mb-3 text-primary fs-3 fs-md-6">Bungee Jumping</h2>
                                       <p class="fw-normal mb-0 pe-lg-9">Bungee jumping, often known as bungy jumping, is a sport in which a person jumps from a considerable height while attached to a long elastic line. Usually, the pad is built on a high structure like a structure or a crane, a bridge across a steep ravine</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="row ps-sm-5 ps-md-0 align-items-end">
                           <div class="col-4 col-sm-6 position-relative z-index-2">
                              <ol class="carousel-indicators me-xxl-7 me-xl-4 me-lg-7">
                                 <li class="active" data-bs-target="#carouselShare" data-bs-slide-to="0"></li>
                                 <li data-bs-target="#carouselShare" data-bs-slide-to="1"></li>
                                 <li data-bs-target="#carouselShare" data-bs-slide-to="2"></li>
                                 <li data-bs-target="#carouselShare" data-bs-slide-to="3"></li>
                              </ol>
                           </div>
                           <div class="col-8 col-sm-6 position-relative z-index-2 text-end">
                              <a class="btn btn-lg text-secondary" href="#" role="button">
                                 Read More
                                 <svg class="bi bi-arrow-right ms-2" xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                                 </svg>
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- end of .container-->
         </section>
         <!-- <section> close ============================-->
         <!-- ============================================-->
         <section class="py-7 overflow-hidden" id="hotels">
            <div class="container bg-offcanvas-gray-right">
               <div class="row gx-2">
                  <div class="col-sm-6 col-lg-4">
                     <div class="bg-primary-gradient h-100 d-flex align-items-end">
                        <div class="row g-0 justify-content-start">
                           <div class="col-xl-9">
                              <div class="p-3 px-lg-4 text-light">
                                 <img class="mb-5" src="https://technext.github.io/voyage-2/v1.0.2/assets/img/icons/icon-hotel.svg" alt="..." />
                                 <h2 class="mb-3 text-light">Discover our best hotels to stay</h2>
                                 <p>Bundle tickets to any hotel to save on your whole order. Follow bundle it! method by picking the right hotel accommodation once you add your tickets to your cart.</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-6 col-lg-4">
                     <div class="row g-2">
                        <div class="col-12">
                           <div class="card card-span h-100 text-white">
                              <img class="img-fluid h-100 w-100" src="https://technext.github.io/voyage-2/v1.0.2/assets/img/gallery/moon-house-hotel.png" height="375" alt="..." />
                              <div class="card-img-overlay ps-0 d-flex flex-column justify-content-between bg-voyage-gradient">
                                 <div class="mt-auto px-4">
                                    <h3 class="fs-1 fs-md-2 text-white">Moon House Hotel</h3>
                                    <div class="d-flex align-items-center justify-content-start"><span class="text-light fs--1 me-1"><i class="fas fa-map-marker-alt"></i></span><span class="text-light me-md-3">Soi Petchburi 19, Bankok</span></div>
                                    <p class="mb-0 mt-3">Starts from </p>
                                    <h1 class="mb-2 text-light fw-bolder fs-2 fs-md-4"><span>$175</span><span class="text-light fs--1 fw-normal">/Per person</span></h1>
                                 </div>
                              </div>
                              <a class="stretched-link" href="#!"> </a>
                           </div>
                        </div>
                        <div class="col-12">
                           <div class="card card-span h-100 text-white">
                              <img class="img-fluid h-100 w-100" src="https://technext.github.io/voyage-2/v1.0.2/assets/img/gallery/blue-mosque-hotel.png" height="375" alt="..." />
                              <div class="card-img-overlay ps-0 d-flex flex-column justify-content-between bg-voyage-gradient">
                                 <div class="mt-auto px-4">
                                    <h3 class="fs-1 fs-md-2 text-white">Blue Mosque Hotel</h3>
                                    <div class="d-flex align-items-center justify-content-start"><span class="text-light fs--1 me-1"><i class="fas fa-map-marker-alt"></i></span><span class="text-light me-md-3">Dismesi Sokak, Istanbul</span></div>
                                    <p class="mb-0 mt-3">Starts from </p>
                                    <h1 class="mb-2 text-light fw-bolder fs-2 fs-md-4"><span>$175</span><span class="text-light fs--1 fw-normal">/Per person</span></h1>
                                 </div>
                              </div>
                              <a class="stretched-link" href="#!"> </a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-6 col-lg-4">
                     <div class="row g-2">
                        <div class="col-12">
                           <div class="card card-span h-100 text-white">
                              <img class="img-fluid h-100 w-100" src="https://technext.github.io/voyage-2/v1.0.2/assets/img/gallery/hotel-royal.png" height="375" alt="..." />
                              <div class="card-img-overlay ps-0 d-flex flex-column justify-content-between bg-voyage-gradient">
                                 <div class="mt-auto px-4">
                                    <h3 class="fs-1 fs-md-2 text-white">Hotel Royal</h3>
                                    <div class="d-flex align-items-center justify-content-start"><span class="text-light fs--1 me-1"><i class="fas fa-map-marker-alt"></i></span><span class="text-light me-md-3">Kedewatan, Bali</span></div>
                                    <p class="mb-0 mt-3">Starts from </p>
                                    <h1 class="mb-2 text-light fw-bolder fs-2 fs-md-4"><span>$175</span><span class="text-light fs--1 fw-normal">/Per person</span></h1>
                                 </div>
                              </div>
                              <a class="stretched-link" href="#!"> </a>
                           </div>
                        </div>
                        <div class="col-12">
                           <div class="card card-span h-100 text-white">
                              <img class="img-fluid h-100 w-100" src="https://technext.github.io/voyage-2/v1.0.2/assets/img/gallery/boutique-hotel.png" height="375" alt="..." />
                              <div class="card-img-overlay ps-0 d-flex flex-column justify-content-between bg-voyage-gradient">
                                 <div class="mt-auto px-4">
                                    <h3 class="fs-1 fs-md-2 text-white">The Rin Boutique Hotel</h3>
                                    <div class="d-flex align-items-center justify-content-start"><span class="text-light fs--1 me-1"><i class="fas fa-map-marker-alt"></i></span><span class="text-light me-md-3">Bang Lamung, Pattaya</span></div>
                                    <p class="mb-0 mt-3">Starts from </p>
                                    <h1 class="mb-2 text-light fw-bolder fs-2 fs-md-4"><span>$175</span><span class="text-light fs--1 fw-normal">/Per person</span></h1>
                                 </div>
                              </div>
                              <a class="stretched-link" href="#!"> </a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-6 col-lg-8 gy-2">
                     <div class="bg-secondary-gradient h-100 d-flex align-items-center">
                        <div class="text-light py-6">
                           <div class="row">
                              <div class="col-12 col-xl-6">
                                 <p class="fs-1 px-5">In our offers, we have more hotels. Just to make your stay easy for your best interests.</p>
                              </div>
                              <div class="col-12 col-xl-6 text-end">
                                 <a class="btn btn-lg text-light fs-1 fs-sm--1 fs-md-1 px-5" href="#!" role="button">
                                    Click to view more
                                    <svg class="bi bi-arrow-right-circle ms-3" xmlns="http://www.w3.org/2000/svg" width="55" height="55" fill="currentColor" viewBox="0 0 16 16">
                                       <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"></path>
                                    </svg>
                                 </a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>